.heading{
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading p{
  text-align: center;
}